<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="springboot.web.mapper.CategoryMapper">

	<select id="GetCategoryList" parameterType="Map" resultType="java.util.HashMap">
		select
		<choose>
			<when test="count !=null and count !='' ">
				count(c.id) as totalNum
			</when>
			<otherwise>
				c.id,
				c.name
			</otherwise>
		</choose>
		from category_ c
		<where>
			<if test="name !=null and name !='' ">
				and c.name like CONCAT('%',#{name},'%')
			</if>
		</where>
		
		<if test="page !=null and page !='' ">
			limit ${(page -1) * limit}, ${limit}
		</if>
	</select>

	<select id="findAll" resultType="java.util.HashMap">
	    select * from category_
	</select>

	<select id="list" resultType="Category">
		select * from category_
	</select>
	
	<select id="get" parameterType="_int" resultType="Category">
		select * from category_ where id= #{id}
	</select>
	
	<insert id="save" parameterType="Category">
		insert into category_ ( name ) values (#{name})
	</insert>
	
	<update id="update" parameterType="Category">
		update category_ set name=#{name} where id=#{id}
	</update>

	<delete id="delete" parameterType="Category">
		delete from category_ where id= #{id}
	</delete>
</mapper>

